{% include header.ext %}
<div id="post-wrapper">
  <ol id="posts">
    <li class="post nav">
      <ul class="post-archive">
        <h2 class="post_title">{{page.title}}</h2>
        {% for post in site.posts %}
        {% for tag in post.tags %}
        {% if tag == page.tag %}
        <li class="post">
          <h3 class="archive_list_header"><a class="archive_list_article_link" href='{{post.url}}'>{{post.title}}</a><span>{{post.date | date: "%B %e, %Y"}}</span></h3>
          {%if post.summary %}<p class="summary">Summary: {{post.summary}}{% endif %}
        </li>
        {% endif %}
        {% endfor %}
        {% endfor %}
      </ul>
    </li>
  </ol>
</div>

{% include footer.ext %}
